
body{
    background-image: url(./pexels-francesco-ungaro-998641.jpg);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header{
    color:white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    box-shadow: aliceblue;
    text-shadow: 1px 1px 17px #b1cfeb;
}



main{
    display:flex;
    gap: 100px;
}

#container{
    background-color: white;
    width: 45rem;
    height: 45rem;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    margin-left: 250px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 5px #b1cfeb;
    overflow: hidden;
    cursor:crosshair;
    
}

.gridSquare{
    cursor: crosshair;
    background-color: #ffffff;
}

.gridSquare-noOutline{
    outline: .25px solid black;
}



.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40rem;
    border: 1px solid black;
    padding: 2rem;
    box-shadow: 0px 0px 20px 0px #93ceff;
    border-radius: 300px;
}

#color{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    cursor:pointer;
    box-shadow:0 0 0 2px rgba(0, 0, 0, 0.2),0px 0px 20px #b1cfeb;
    outline: none;
    background-clip: padding-box;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

#color::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
    padding: 0;
}

#color::-moz-color-swatch{
    border: none;
}

#color:hover{
    transform: scale(1.2);
}

.settingButton {
    font-size: 1.1rem;
    width: 85%;
    max-width: 200px;
    padding: 8px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: 0px 0px 10px aliceblue;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0.25rem;
}

.settingButton:hover {
    color: white;
    background-color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.buttonActivate{
    color: white;
    background-color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.painted{
    background-color: black;
}


#gridSizeValue{
    color:white; 
    font-size: 1.5rem;
    text-shadow: 3px 3px 6px #93ceff;
    margin-top: 1rem;
}


input[type="range"]{
    appearance: auto;
    color: rgb(157, 150, 142);
    accent-color: white;
    cursor: pointer;
    padding: initial;
    border: initial;
    margin: 2px;
}



.footer{
    margin-top:2.5rem;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    transition: transform 0.5s;
    display: inline-block;
}

a:hover{
    transform: scale(1.1);
}

.rotate{
    display: inline-block;
    color:white;
    transition: transform 0.5s ease-in-out;
    text-shadow: 0px 0px 17px #b1cfeb;
}

.rotate:hover{
    transform: scale(1.1) rotate(360deg);
}
